# API version
apiVersion: v1

# Resource type
kind: Secret

# Metadata (name, labels)
metadata:
  # Name to reference secret
  name: postgres-secret

# Generic secret type
type: Opaque

stringData:
  POSTGRES_USER: <REPLACE_ME>
  POSTGRES_PASSWORD: <REPLACE_ME>
  POSTGRES_DB: <REPLACE_ME>
